@import "../vars";

$dark-bg          : #f8f8f8;
$dark-fg          : rgba(0, 0, 0, 0.8);
$primary-bg       : #3f51b5;
$primary-bg-dark  : #3949ab;

// SideBar
$sidebar-bg       : #0d1011;
$sidebar-fg       : #477d79;
$sidebar-fg-active: #b8ffdc;
$sidebar-width    : 220px;

@import "../base";