%material-button {
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	cursor: pointer;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);  // Box shadows from Google Inbox FAB
	&:hover {
		box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
	}
}